Source: furios-archive-keyring
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/furilabs/furios-archive-keyring
Vcs-Git: https://github.com/furilabs/furios-archive-keyring.git

Package: furios-archive-keyring
Architecture: all
Pre-Depends: apt
Depends: ${misc:Depends}
Description: Archive keyring for FuriOS repositories
 This package contains the archive keyring for FuriOS
 repositories.

Package: mobian-furios-archive-keyring
Architecture: all
Pre-Depends: apt
Depends: ${misc:Depends}
Conflicts: mobian-archive-keyring
Replaces: mobian-archive-keyring
Description: Archive keyring for mobian repositories
 This package contains the archive keyring for mobian
 repositories.
 .
 On FuriOS systems, you should use this package in place
 of the Mobian equivalent.
